.user-header{
    display: flex;
    justify-content: flex-end;
    background-image: url(../../assets/Images/blue-banner.jpeg);
}
.create-user a{
    color: black;
    font-size: larger;
    font-weight: 600;
}
.create-user a:hover{
    color: #0eb9d3;
    text-decoration: underline;
}
.ant-pagination-item-active a{
    color: #0eb9d3 !important;
    border: 1px solid #0eb9d3 !important;
}
.ant-pagination-item-link:hover{
    color: #0eb9d3 !important;
    border: 1px solid #0eb9d3 !important;
}
.table button{
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
.buttoncomponent{
  border: 1px solid #0eb9d3;
  background-color: #0eb9d3;
  color: black;
  width: 65px;
  height: 35px;
  border-radius: 2px;

}