* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

:root{
  --primary-color: #0eb9d3;
  --secondary-color: #025381;
  --heading-color: #232121;
  --heading-color-dark:#eee;
  --button-color-danger:rgb(175, 6, 6);
  --button-color-info:rgb(17, 197, 143);
}

@font-face {
  font-family: 'fontHeader';
  src: url('../src/assets/FontRoboto/Roboto-Black.ttf');
}

@font-face {
  font-family: 'fontBody';
  src: url('../src/assets/FontRoboto/Roboto-Regular.ttf');
}

